extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Some Text...
            a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text....Some Text ... Some Text ...Some Text....Some Text ... Some Text ...Some Text....Some Text ...
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Services
                p Some Text....Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text....Some Text..Some Text......Some Text....Some Text..Some Text....Some Text ... Some Text ...Some Text....Some Text ... Some Text ...Some Text....
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Some Text..Some Text....Some Text ... Some Text ...Some Text....Some Text ... Some Text ...Some Text....Some Text ... Some Text ...Some Text....Some Text ... Some Text ...Some Text....Some Text ... Some Text ...Some Text....Some Text ... Some Text ...Some Text....Some Text ... Some Text ...
                a.btn.btn-default(href='#') View Details